<ul>
  <li><%= 1+2 %></li>
  <li><%= "cow" + "boy" %></li>
  <li><%= 1.hour.from_now %></li>
</ul>
<% 3.times do %>
  ho!<br/>
<% end %>
abc

<p>
  <% 3.downto(1) do |count| %>
    <%= count %>...<br/>
  <% end %>
    lift off!
</p>

<h1>It's <%= @time %></h1>

<%= link_to "goodbye",:action=>"goodbye" %>