
<h2>product list</h2>

<table>
  <% for product in @products %>
    <tr>
      <td><%= product.title %></td>
      <td><%= image_tag product.image_url %></td>
      <td><%= product.description.html_safe %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td>
        <%= button_to "Add to Cart", {:action => :add_to_cart, :id => product}, :method => 'post', :remote => true %>        
      </td>
    </tr>
  <% end %>
</table>

